.Frequently-Asked-Question{
    padding: 112px 0 40px 0;
    .question-area{
        padding-top: 80px;
        .question{
            .media{
                padding-bottom: 70px;
                .media-left{
                    padding-right: 25px;
                    h4{
                        color: $p;
                        font: 400 25px $roboto;
                        height: 48px;
                        width: 48px;
                        border-radius: 50%;
                        background: #ebf2f5;
                        text-align: center;
                        padding-top: 9px;
                    }
                }
                .media-body{
                    padding-right: 60px;
                    .media-heading{ 
                        font: 500 18px $roboto;
                        color: $h1;
                        text-transform: uppercase;
                    }
                    p{
                        color: $p;
                        font: 400 15px/28px $roboto;
                        padding-top: 20px;
                    }
                }
            }
        }
    }
}