/*----------------------------------------------------
@File: Default Styles
@Author: Emran Khan
@URL:http://www.wpemran.com

This file contains the styling for the actual theme, this
is the file you need to edit to change the look of the
theme.

This files contents are outlined below.

	1. Variables
	2. Prefix 
	3. Header 
	4. Slider
	5. Conostruction
	6. Contact
	7. Counter
	8. Gallery
    9. Pricing-table
    10. Clients
    11. Post
    12. Innovative
    13. Trendy-slider
    14. Present








    20. Footer
    21. Responsive 
 
----------------------------------------------------*/
 
/*--------------------------------------------------*/
@import "variables";
/*--------------------------------------------------*/ 
@import "prefix";
/*--------------------------------------------------*/ 
@import "header";
/*--------------------------------------------------*/  
@import "slider";
/*--------------------------------------------------*/  
@import "conostruction";
/*--------------------------------------------------*/ 
@import "contact";
/*--------------------------------------------------*/ 
@import "counter";
/*--------------------------------------------------*/ 
@import "gallery";
/*--------------------------------------------------*/  
@import "pricing-table";
/*--------------------------------------------------*/ 
@import "clients";
/*--------------------------------------------------*/
@import "post";
/*--------------------------------------------------*/
@import "innovative";
/*--------------------------------------------------*/
@import "trendy-slider";
/*--------------------------------------------------*/
@import "question";
/*--------------------------------------------------*/
@import "present";
/*--------------------------------------------------*/
@import "blog";
/*--------------------------------------------------*/








@import "footer";
/*--------------------------------------------------*/ 
@import "responsive"; 
/*--------------------------------------------------*/   